
/************** ESTRUTURA **********************/
body{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 1440px;
}

img{
  margin-left: 180px;
  margin-top: 35px;
  width: 50px;
}

/************************* DIVS *************************/
.bodyDiv{
  padding-top: 40px;
}

.topdiv{
  margin: auto;
  width: 50%;
}

.firstHeader{
  margin: 0;
}

.secondHeader{
  margin: 0;
}

.divFirstParagraph{
  margin: auto;
  width: 70%;
}

.cardDiv{
  box-shadow: 0 10px 18px #d9d7d7;
  height: 200px;
  padding: 10px 12px 0 20px;
  position: relative;
  text-align: left;
  width: 250px;
}

.supervisorDiv{
  border: 1px;
  border-radius: 5px;
  border-top: 3px solid #45D3D3;
  left: 280px;
  top: 150px;
}

.teamDiv{
  border: 1px;
  border-radius: 5px;
  border-top: 3px solid #EA5353;
  bottom: 160px;
  left: 580px;
}

.karmaDiv{
  border: 1px;
  border-radius: 5px;
  border-top: 3px solid #FCAF4A;
  left: 580px;
  bottom: 140px;
}

.calculatorDiv{
  border: 1px;
  border-radius: 5px;
  border-top: 3px solid #549EF2;
  left: 880px;
  bottom: 485px;
}

/******** TEXTO ***********/

.topdiv{
  line-height: 1.2;
}

.divFirstParagraph{
  line-height: 2;
}

.firstHeader{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}


h3{
  font-size: 15px;
}

p{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 15px;
}

.paragrafoCard{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 12px;
}
